
.team {
    background: white;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team__member {
    background: var(--color-success);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member:hover {
    background: transparent;
    border-color: black;
}

.team__member-image img {
    filter: saturate(0);
}

.team__member:hover img {
    filter: saturate(1);
}

.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team__member-info p {
    color: black;
}




@media screen and (max-width: 1024px) {
    .about__achievements {
        margin-top: 2rem;
    }

    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about__achievements-left {
        width: 80%;
        margin: 0 auto;
    }

    .about__achievements-right h1 {
        text-align: center;
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    }
}


@media screen and (max-width: 600px) {
    .achievements__cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        padding: 0;
    }

    .team__member p {
        margin-bottom: 1.5rem;
    }
}